.programSpecificsPage {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    min-width: 100%;
    
}

.codecademyLogo {
    min-width: 100%;
}

.certifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.commandLineCertificate,
.chatbotsCertificate,
.learnCssCertificate {
    max-width: 100%;
}

.certification {
    max-width: 20%;
    border: 1px solid black;
    margin: 1%;
}