.programSpecificsPage {
    text-align: center;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    min-width: 100%;
    
}

.codecademyLogo {
    min-width: 100%;
}

.certifications {
    flex-direction: row;
}